<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project242">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project242">
        <activity
            android:name=".Transactions.Transactions"
            android:exported="false" />
        <activity
            android:name=".Settings.Settings"
            android:exported="false" />
        <activity
            android:name=".Students.Students"
            android:exported="false" />
        <activity
            android:name=".MonetaryRates.MonetaryRates"
            android:exported="false" />
        <activity
            android:name=".Home.Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>